{% extends 'base.html' %}

{% block title %} Home {% endblock %}



{% block content %}

{% if request.is_authenticated %}
    <a href="{% url 'user_login' %}">logout</a>
{% else %}
    <a href="{% url 'user_login' %}">Login</a>
    <a href="{% url 'user_login' %}">Register</a>
{% endif %}


    <div class="card">

        {% for todo in todos %}
        <a class="card-body" href="{% url 'detail' todo.id %}">{{todo.title}}</a><br>
        
    {% endfor %}

    </div>
{% endblock %}


